In [537]:
import openpyxl

In [539]:
print(nltk.__version__)

3.9.1

In [60]:
# import necessary libraries

import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import re
import string
from string import digits
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score
import pickle
import numpy as np
import time
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import (
    accuracy_score,
    classification_report,
    confusion_matrix,
    f1_score,
    recall_score,
)
from sklearn.model_selection import RandomizedSearchCV
from lightgbm import LGBMClassifier

In [17]:
import re
import string
import numpy as np
import pandas as pd
from tqdm.auto import tqdm

import nlpaug.augmenter.word.context_word_embs as aug
import nltk
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

from nltk.stem import WordNetLemmatizer
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk import word_tokenize

from sklearn.utils import shuffle
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [22]:
dataset=pd.read_excel('Dataset.xlsx')
dataset

,Claim Description,Coverage Code,Accident Source
0,THE IV WAS MAKING A LEFT TURN ON A GREEN ARROW...,AN,"Struck pedestrian, bicycle"
1,CLAIMANT ALLEGES SHE SUFFERED INJURIES IN AN E...,GB,Elevator/Escalator
2,"IV PASSENGER SUSTAINED INJURIES, OV AND IV COL...",AB,Sideswipe or lane change
3,CLAIMANT ALLEGES SHE WAS BURNED UNKNOWN DEGREE...,PA,Food Product
4,THE IV WAS MERGING INTO A CONSTRUCTION ZONE WH...,AD,Struck vehicle in rear
...,...,...,...
191685,SOME WOOD FELL OVER AND HIT GUESTS LEGS,GB,Alleged lack of security
191686,FEMALE FELL DOWN ON PLATFORM. ...,AB,Not Otherwise Classified
191687,IWAS DRIVING DOWNHILL IN CUSTOMER YARD ON WET ...,AD,Sideswipe or lane change
191688,DONNA GEORGE WAS WALKING UP TO REGISTER 2 AND ...,PM,Alleged Negligent Act
191689,UNIT 3 WAS TRAVELING EASTBOUND ON SH 97 BEHIND...,AB,Sideswipe or lane change

In [23]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191690 entries, 0 to 191689
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Claim Description  191463 non-null  object
 1   Coverage Code      191690 non-null  object
 2   Accident Source    191690 non-null  object
dtypes: object(3)
memory usage: 4.4+ MB

In [24]:
dataset.isnull().sum()  #null values

Claim Description    227
Coverage Code          0
Accident Source        0
dtype: int64

In [26]:
# find duplicates in feature

dataset['Claim Description'].duplicated().sum()

27699

In [29]:
# lets check data with one of the duplicate value

dataset[dataset['Claim Description']=='CLAIMANT DROVE OVER POTHOLE CAUSING VEHICLE DAMAGE.']

,Claim Description,Coverage Code,Accident Source
296,CLAIMANT DROVE OVER POTHOLE CAUSING VEHICLE DA...,GD,Pothole
319,CLAIMANT DROVE OVER POTHOLE CAUSING VEHICLE DA...,GD,Pothole
589,CLAIMANT DROVE OVER POTHOLE CAUSING VEHICLE DA...,GD,Pothole
667,CLAIMANT DROVE OVER POTHOLE CAUSING VEHICLE DA...,GD,Pothole
763,CLAIMANT DROVE OVER POTHOLE CAUSING VEHICLE DA...,GD,Pothole
...,...,...,...
191123,CLAIMANT DROVE OVER POTHOLE CAUSING VEHICLE DA...,GD,Pothole
191265,CLAIMANT DROVE OVER POTHOLE CAUSING VEHICLE DA...,GD,Pothole
191523,CLAIMANT DROVE OVER POTHOLE CAUSING VEHICLE DA...,GD,Pothole
191550,CLAIMANT DROVE OVER POTHOLE CAUSING VEHICLE DA...,GD,Pothole
191662,CLAIMANT DROVE OVER POTHOLE CAUSING VEHICLE DA...,GD,Pothole

In [31]:
# drop duplicates using claim description features

dataset.drop_duplicates(subset = ['Claim Description'],inplace = True)

In [33]:
# remove null value from dataset

final_data = dataset[~dataset['Claim Description'].isna()]

final_data.shape

(163990, 3)

## Data pre-processing:

In [ ]:
nltk.download('punkt_tab')

In [40]:
def remove_stopwords(text):
    removed = []
    stop_words = list(stopwords.words("english"))
    tokens = word_tokenize(text)
    for i in range(len(tokens)):
        if tokens[i] not in stop_words:
            removed.append(tokens[i])
    return " ".join(removed)

def remove_numbers(text):
    number_pattern = r'\d+'
    without_number = re.sub(pattern=number_pattern, repl=" ", string=text)
    return without_number

def pre_processing(final_data):

    # Lowercase all characters
    final_data['Claim Description']=final_data['Claim Description'].astype(str).apply(lambda x: x.lower())
    
    final_data['Claim Description'] = final_data['Claim Description'].apply(lambda x: remove_stopwords(x))
    #final_data['Claim Description'] = final_data['Claim Description'].apply(lambda x: lemmatizing(x))
    final_data['Claim Description'] = final_data['Claim Description'].apply(lambda x: remove_numbers(x))

    final_data['Claim Description'] = final_data['Claim Description'].apply(lambda x: re.sub(r"won\'t", "will not", x))
    final_data['Claim Description'] = final_data['Claim Description'].apply(lambda x: re.sub(r"can\'t", "can not", x))

    # general
    final_data['Claim Description'] = final_data['Claim Description'].apply(lambda x: re.sub(r"n\'t", " not", x))
    final_data['Claim Description'] = final_data['Claim Description'].apply(lambda x: re.sub(r"\'re", " are", x))
    final_data['Claim Description'] = final_data['Claim Description'].apply(lambda x: re.sub(r"\'s", " is", x))
    final_data['Claim Description'] = final_data['Claim Description'].apply(lambda x: re.sub(r"\'d", " would", x))
    final_data['Claim Description'] = final_data['Claim Description'].apply(lambda x: re.sub(r"\'ll", " will", x))
    final_data['Claim Description'] = final_data['Claim Description'].apply(lambda x: re.sub(r"\'t", " not", x))
    final_data['Claim Description'] = final_data['Claim Description'].apply(lambda x: re.sub(r"\'ve", " have", x))
    final_data['Claim Description'] = final_data['Claim Description'].apply(lambda x: re.sub(r"\'m", " am", x))

    # Remove quotes
    final_data['Claim Description']=final_data['Claim Description'].apply(lambda x: re.sub("'", '', x))



    exclude = set(string.punctuation) # Set of all special characters
    # Remove all the special characters
    final_data['Claim Description']=final_data['Claim Description'].apply(lambda x: ''.join(ch for ch in x if ch not in exclude))

    # remove extra
    final_data['Claim Description']=final_data['Claim Description'].apply(lambda x: re.sub('[-_.:;\[\]\|,]', '', x))


    # Remove extra spaces
    final_data['Claim Description']=final_data['Claim Description'].apply(lambda x: x.strip())

    final_data['Claim Description']=final_data['Claim Description'].apply(lambda x: re.sub(" +", " ", x))
    
    return final_data

In [41]:
final_data = pre_processing(final_data)

## class_label 1 : Coverage Code

In [49]:
# find unique classes

print('Number of classes in Coverage code :',dataset['Coverage Code'].nunique())

Number of classes in Coverage code : 43

In [50]:
final_data['Coverage Code'].value_counts()

Coverage Code
AD    43070
GB    32193
GD    22399
AP    18894
AL     9983
AB     9397
PA     8030
PB     5089
RB     4553
NS     2297
PM     1359
AU     1273
EL      855
GK      632
AN      558
RC      514
PI      384
GO      337
PL      317
DC      261
GL      237
AM      224
EP      184
IK      183
OM      138
EO      137
PP      112
TE       85
BM       66
LL       57
IM       40
BL       36
CM       30
FB       18
OI       14
RF       12
BR        6
EB        4
RQ        3
FF        3
LS        3
EI        2
PC        1
Name: count, dtype: int64

## Observation :

- There are 43 classes in Coverage code.
- There is class imabalnce observed.
- While few classes having very few data points.

### Approach 1 :

- Check classes with very few datapoints and create dictionary for features. Since 1-2 data cant be predicted
- Check classes with medium range of datapoints and convert them into one class.
- Develop model on new classes.
- For medium range classes create one more model.
- Use second model for prediction if class is in medium class.
- Finally override decision if the feature is in dictionary of very few classes.

### Approach 2 :

- Do small Data Augmentation. Since 1-2 data cant be predicted and splitted for training and testing 
- Check classes with small range of datapoints, augment them with bert to add a few rows to split it.
- Do split and Augment the train data heavily to balance the classes 
- Develop model.

### Can combine both approaches for better results, but moving forward with 2nd saving time

In [43]:
import nlpaug.augmenter.word.context_word_embs as aug

In [44]:
augmenter = aug.ContextualWordEmbsAug(model_path='bert-base-uncased', action="insert")

Downloading tokenizer_config.json:   0%|          | 0.00/48.0 [00:00<?, ?B/s]

Downloading config.json:   0%|          | 0.00/570 [00:00<?, ?B/s]

Downloading vocab.txt:   0%|          | 0.00/232k [00:00<?, ?B/s]

Downloading tokenizer.json:   0%|          | 0.00/466k [00:00<?, ?B/s]

Downloading model.safetensors:   0%|          | 0.00/440M [00:00<?, ?B/s]

In [46]:
sample_text = final_data['Claim Description'].iloc[100]
sample_text

'toilet flooded unit causing damage unit parking garage'

In [47]:
augmented_sample_text = augmenter.augment(sample_text)
augmented_sample_text

['toilet flooded bus unit causing considerable damage unit parking facility garage']

In [51]:
# check count of classes

coverage_code_classes = pd.DataFrame(final_data['Coverage Code'].value_counts()) #created dataset of value count
coverage_code_classes

               count
Coverage Code
AD             43070
GB             32193
GD             22399
AP             18894
AL              9983
AB              9397
PA              8030
PB              5089
RB              4553
NS              2297
PM              1359
AU              1273
EL               855
GK               632
AN               558
RC               514
PI               384
GO               337
PL               317
DC               261
GL               237
AM               224
EP               184
IK               183
OM               138
EO               137
PP               112
TE                85
BM                66
LL                57
IM                40
BL                36
CM                30
FB                18
OI                14
RF                12
BR                 6
EB                 4
RQ                 3
FF                 3
LS                 3
EI                 2
PC                 1

In [86]:
coverage_code_classes[coverage_code_classes['count'] < 50].index.to_list()

['IM', 'BL', 'CM', 'FB', 'OI', 'RF', 'BR', 'EB', 'RQ', 'FF', 'LS', 'EI', 'PC']

In [88]:
print(len(coverage_code_classes[coverage_code_classes['count'] < 2000].index.to_list()))
coverage_code_classes[coverage_code_classes['count'] < 2000].index.to_list()

33

['PM',
 'AU',
 'EL',
 'GK',
 'AN',
 'RC',
 'PI',
 'GO',
 'PL',
 'DC',
 'GL',
 'AM',
 'EP',
 'IK',
 'OM',
 'EO',
 'PP',
 'TE',
 'BM',
 'LL',
 'IM',
 'BL',
 'CM',
 'FB',
 'OI',
 'RF',
 'BR',
 'EB',
 'RQ',
 'FF',
 'LS',
 'EI',
 'PC']

In [103]:
very_few_classes = coverage_code_classes[coverage_code_classes['count'] < 50].index.to_list()
medium_classes = coverage_code_classes[coverage_code_classes['count'] < 2000].index.to_list()

In [66]:
# check the data with very few classes

fewer_data = final_data[final_data['Coverage Code'].isin(very_few_classes)]
print(fewer_data.shape)
fewer_data.head(2)

(172, 3)

,Claim Description,Coverage Code,Accident Source
803,property loss,IM,Not Otherwise Classified
832,wind caused tractor trailer roll potential inj...,BL,Windstorm

In [58]:
# for fewer classes either we can directrly create dictionary and use classes


fewer_class_dictionary = dict()
for idx,row in fewer_data.iterrows():
    
    fewer_class_dictionary[row[0]] = [row[1],row[2]]

print(fewer_class_dictionary[fewer_data['Claim Description'].iloc[0]])
fewer_class_dictionary

['BR', 'Burglary, Robbery, Theft - Property']

{'caller states builder called stated items property used build home stolen police report created': ['BR',
  'Burglary, Robbery, Theft - Property'],
 'oil discovered monitoring tanks': ['EI', 'Fuel'],
 'eeoc charge discrimination filed current st john university employee charles fortmann': ['EB',
  'Alleged Discrimination'],
 'allegations violation wage hour violations limited assignment payment legal fees': ['EB',
  'Alleged Negligent Act'],
 'graffiti painted wall': ['RQ', 'Other - comprehensive'],
 'sewage release': ['EI', 'Backup Sewer, Seepage'],
 'cyber breach': ['FF', 'Not Otherwise Classified'],
 'claimant suffered defamation loss business': ['LS',
  'Loss of Use, Business Interruption'],
 'property theft damage': ['BR', 'Burglary, Robbery, Theft - Property'],
 'tools stolen job site francis howell north': ['BR',
  'Burglary, Robbery, Theft - Property'],
 'earthquake': ['RQ', 'Rain'],
 'claimant suffered abuse attack': ['LS', 'Assault and/or abuse'],
 'claimant alleging theft assets injuries': ['FF',
  'Burglary, theft - no forced entry'],
 'neosho school dsitrict civil case summons employee life insurance benefits': ['EB',
  'Administrative Decision'],
 'burst pipe production area': ['RQ',
  'Sprinkler Leakage - Pipe or Head Failure'],
 'slider doors stolen job site': ['BR', 'Burglary, Robbery, Theft - Property'],
 'winds lifted section roof hickory co fema building': ['BR', 'Windstorm'],
 'caller reported door broken installed appliances tools stolen': ['BR',
  'Burglary, Robbery, Theft - Property'],
 'leak ice machine caused damage tenant retail space': ['PC',
  'Building services, NOC'],
 'claimant financial loss': ['FF', 'Alleged Negligent Act'],
 'alleged deformation claimant defamation claimant suffered stress anxiety': ['LS',
  'Libel, slander - defamation'],
 'morgan county rii school district district determined audit failed pay employee contributions music agreed pay forensic audit': ['EB',
  'Alleged Negligent Act']}

In [61]:
# save dictionary
path = "results/fewer_class_dictionary.pickle"
pickle.dump(fewer_class_dictionary, open(path, "wb"))
print("Model saved to", path)

Model saved to results/fewer_class_dictionary.pickle

## Augment medium range data

In [63]:
final_data['Coverage Code'].value_counts()

Coverage Code
AD    43070
GB    32193
GD    22399
AP    18894
AL     9983
AB     9397
PA     8030
PB     5089
RB     4553
NS     2297
PM     1359
AU     1273
EL      855
GK      632
AN      558
RC      514
PI      384
GO      337
PL      317
DC      261
GL      237
AM      224
EP      184
IK      183
OM      138
EO      137
PP      112
TE       85
BM       66
LL       57
IM       40
BL       36
CM       30
FB       18
OI       14
RF       12
BR        6
EB        4
RQ        3
FF        3
LS        3
EI        2
PC        1
Name: count, dtype: int64

In [ ]:
def augmentMyData(df, augmenter, repetitions=1, samples=200):
    augmented_texts = []
    # select only the minority class samples
    spam_df = df[df['label'] == 1].reset_index(drop=True) # removes unecessary index column
    for i in tqdm(np.random.randint(0, len(spam_df), samples)):
        # generating 'n_samples' augmented texts
        for _ in range(repetitions):
            augmented_text = augmenter.augment(spam_df['text'].iloc[i])
            augmented_texts.append(augmented_text)
    
    data = {
        'label': 1,
        'text': augmented_texts
    }
    aug_df = pd.DataFrame(data)
    df = shuffle(df.append(aug_df).reset_index(drop=True))
    return df

In [77]:
for i in medium_classes:
    print(i)

NS
PM
AU
EL
GK
AN
RC
PI
GO
PL
DC
GL
AM
EP
IK
OM
EO
PP
TE
BM
LL
IM
BL
CM
FB
OI
RF
BR
EB
RQ
FF
LS
EI
PC

In [82]:
final_data.shape[0]

163990

In [79]:
final_data.head(2)

,Claim Description,Coverage Code,Accident Source
0,iv making left turn green arrow pedestrian ran...,AN,"Struck pedestrian, bicycle"
1,claimant alleges suffered injuries elevator,GB,Elevator/Escalator

In [95]:
print(len(medium_classes))
medium_classes

34

['NS',
 'PM',
 'AU',
 'EL',
 'GK',
 'AN',
 'RC',
 'PI',
 'GO',
 'PL',
 'DC',
 'GL',
 'AM',
 'EP',
 'IK',
 'OM',
 'EO',
 'PP',
 'TE',
 'BM',
 'LL',
 'IM',
 'BL',
 'CM',
 'FB',
 'OI',
 'RF',
 'BR',
 'EB',
 'RQ',
 'FF',
 'LS',
 'EI',
 'PC']

In [104]:
very_few_classes

['IM', 'BL', 'CM', 'FB', 'OI', 'RF', 'BR', 'EB', 'RQ', 'FF', 'LS', 'EI', 'PC']

In [106]:
medium_class_without_few_class= []
for class_label in medium_classes:
    if class_label in very_few_classes:
        continue
        
    else:
        medium_class_without_few_class.append(class_label)
        
medium_class_without_few_class

['PM',
 'AU',
 'EL',
 'GK',
 'AN',
 'RC',
 'PI',
 'GO',
 'PL',
 'DC',
 'GL',
 'AM',
 'EP',
 'IK',
 'OM',
 'EO',
 'PP',
 'TE',
 'BM',
 'LL']

In [321]:
final_data = pd.read_excel('augmented_data.xlsx') # I got this from Oversampling you will understand it below

In [322]:
final_data['Coverage Code'].value_counts()

Coverage Code
AD    43070
GB    32193
GD    22399
AP    18894
AL     9983
AB     9397
PA     8030
PB     5089
RB     4553
NS     2297
PM     1859
AU     1773
EL     1355
GK     1132
AN     1058
RC     1014
PI      884
GO      837
PL      817
DC      761
GL      737
AM      724
EP      684
IK      683
OM      638
EO      637
PP      612
TE      585
BM      566
LL      557
IM       40
BL       36
CM       30
FB       18
OI       14
RF       12
BR        6
EB        4
LS        3
FF        3
RQ        3
EI        2
PC        1
Name: count, dtype: int64

In [323]:
final_data

                                        Claim Description Coverage Code
0       iv traveling wbnd desert inn rd east pawnee dr...            AB
1           claimant slipped stairs causing bodily injury            GB
2       customer driving parking lot cart came cart co...            GD
3       loading guest forklift pallet made contact rea...            GD
4       injuries mirror strike sideswiped another vehicle            AP
...                                                   ...           ...
173985  reginal manager following another employee hom...            AP
173986                                   iv backed parked            AD
173987                        iv hit parked unknown party            AP
173988  stray bullet fired unknown persons struck hvac...            RB
173989  claimant alleges vehicle damaged pothole parki...            GD

[173990 rows x 2 columns]

In [324]:
final_data.drop(labels='Accident Source',axis=1)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py", line 3550, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Admin\AppData\Local\Temp\ipykernel_10532\981238603.py", line 1, in <module>
    final_data.drop(labels='Accident Source',axis=1)
  File "C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\frame.py", line 5344, in drop
    axes_single_arg=_shared_doc_kwargs["axes_single_arg"],
  File "C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\generic.py", line 4711, in drop
    )
  File "C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\generic.py", line 4753, in _drop_axis
    errors: IgnoreRaise = ...,
  File "C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 7000, in drop
    # dt64/td64 to integer, also about treating tuples as sequences
KeyError: "['Accident Source'] not found in axis"

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\stack_data\core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\stack_data\core.py", line 660, in executing_piece
    return only(
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\executing\executing.py", line 116, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [325]:
# Initialize the augmenter
#augmenter = naw.ContextualWordEmbsAug(model_path='bert-base-uncased', action="insert")

def augment_data_for_selected_classes(df, selected_classes, samples=200, repetitions=1):
    """
    Augments data for selected classes in a DataFrame.
    
    Parameters:
        df (pd.DataFrame): Input DataFrame with columns 'label' and 'text'.
        selected_classes (list): List of classes to augment.
        samples (int): Number of samples to select for each class.
        repetitions (int): Number of augmented examples to generate per sample.
        
    Returns:
        pd.DataFrame: DataFrame with augmented data added.
    """
    augmented_texts = []
    augmented_labels = []
    
    # Loop through each selected class
    for class_label in selected_classes:
        print(f"Augmenting class {class_label}...")
        
        # Filter for the current class
        class_df = df[df['Coverage Code'] == class_label].reset_index(drop=True)
        
        # Randomly sample from the class
        indices = np.random.choice(len(class_df), samples, replace=True)
        
        # Augment selected samples
        for idx in tqdm(indices, desc=f"Class {class_label}"):
            original_text = class_df['Claim Description'].iloc[idx]
            for _ in range(repetitions):
                augmented_text = augmenter.augment(original_text)
                augmented_texts.append(augmented_text)
                augmented_labels.append(class_label)
    
    # Create a DataFrame for augmented data
    augmented_df = pd.DataFrame({'Coverage Code': augmented_labels, 'Claim Description': augmented_texts})
    
    # Combine original and augmented data, shuffle, and reset index
    df = shuffle(pd.concat([df, augmented_df], ignore_index=True))
    return df
'''
# Example usage
if __name__ == "__main__":
    # Example dataset
    data = {
        'label': np.random.randint(0, 40, 1000),  # 40 classes
        'text': ["Example text data"] * 1000      # Dummy text
    }
    df = pd.DataFrame(data)
    
    # Select 10 classes for augmentation
    selected_classes = np.random.choice(range(40), 10, replace=False)  # Randomly pick 10 classes
    
    # Augment the data
    augmented_df = augment_data_for_selected_classes(df, selected_classes, samples=200, repetitions=1)
    
    augmented_df = augment_data_for_selected_classes(final_data.drop(labels='Accident Source',axis=1), medium_class_without_few_class, samples=20, repetitions=1)
    # Show augmented dataset
    print(augmented_df.head())
'''

'\n# Example usage\nif __name__ == "__main__":\n    # Example dataset\n    data = {\n        \'label\': np.random.randint(0, 40, 1000),  # 40 classes\n        \'text\': ["Example text data"] * 1000      # Dummy text\n    }\n    df = pd.DataFrame(data)\n    \n    # Select 10 classes for augmentation\n    selected_classes = np.random.choice(range(40), 10, replace=False)  # Randomly pick 10 classes\n    \n    # Augment the data\n    augmented_df = augment_data_for_selected_classes(df, selected_classes, samples=200, repetitions=1)\n    \n    augmented_df = augment_data_for_selected_classes(final_data.drop(labels=\'Accident Source\',axis=1), medium_class_without_few_class, samples=20, repetitions=1)\n    # Show augmented dataset\n    print(augmented_df.head())\n'

In [327]:
augmented_df = augment_data_for_selected_classes(final_data, medium_classes, samples=5, repetitions=1)
# Show augmented dataset
print(augmented_df.head())

Augmenting class PM...

Class PM:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class AU...

Class AU:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class EL...

Class EL:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class GK...

Class GK:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class AN...

Class AN:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class RC...

Class RC:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class PI...

Class PI:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class GO...

Class GO:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class PL...

Class PL:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class DC...

Class DC:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class GL...

Class GL:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class AM...

Class AM:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class EP...

Class EP:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class IK...

Class IK:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class OM...

Class OM:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class EO...

Class EO:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class PP...

Class PP:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class TE...

Class TE:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class BM...

Class BM:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class LL...

Class LL:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class IM...

Class IM:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class BL...

Class BL:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class CM...

Class CM:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class FB...

Class FB:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class OI...

Class OI:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class RF...

Class RF:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class BR...

Class BR:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class EB...

Class EB:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class RQ...

Class RQ:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class FF...

Class FF:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class LS...

Class LS:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class EI...

Class EI:   0%|          | 0/5 [00:00<?, ?it/s]

Augmenting class PC...

Class PC:   0%|          | 0/5 [00:00<?, ?it/s]

                                        Claim Description Coverage Code
84769                     client driver reversed claimant            AD
146749  clmt alleges receiving coffee dt lid coffee po...            PA
128996  jackie claims pushing rack caught right ring f...            EL
72183   guest alledges pump failed stop flowing fuel c...            GD
120718  cart hit guests car due wind guests vehicle de...            GD

In [328]:
augmented_df['Coverage Code'].value_counts() # new data i imported have 500 augmented row in medium class except fewer class

Coverage Code
AD    43070
GB    32193
GD    22399
AP    18894
AL     9983
AB     9397
PA     8030
PB     5089
RB     4553
NS     2297
PM     1864
AU     1778
EL     1360
GK     1137
AN     1063
RC     1019
PI      889
GO      842
PL      822
DC      766
GL      742
AM      729
EP      689
IK      688
OM      643
EO      642
PP      617
TE      590
BM      571
LL      562
IM       45
BL       41
CM       35
FB       23
OI       19
RF       17
BR       11
EB        9
RQ        8
FF        8
LS        8
EI        7
PC        6
Name: count, dtype: int64

In [128]:
print("Original: ", final_data.shape)
print("Augmented: ", augmented_df.shape)  #there are 33 coverage code in medium class and we augmented 5 row in each

Original:  (163990, 3)
Augmented:  (164010, 2)

### Notice the value count of medium classes has increased 
#### I ran the same code for 500 samples in another collab while moving forward in this notebook
- Will merge later

##### PS : I have merged it above

In [139]:
#augmented_df.to_excel('final1_data.xlsx', index=False, engine="xlsxwriter")

TypeError: write() got an unexpected keyword argument 'engine_kwargs'

In [329]:
augmented_df.head(1)

                     Claim Description Coverage Code
84769  client driver reversed claimant            AD

### Under Sampling

In [359]:
from imblearn.under_sampling import RandomUnderSampler

# Randomly under sample the majority class
rus = RandomUnderSampler(random_state=42, sampling_strategy={'AD':10000,'GB':10000,'GD':10000,'AP':10000})
df_train_rus, _ = rus.fit_resample(augmented_df, augmented_df['Coverage Code'])

In [360]:
df_train_rus['Coverage Code'].value_counts()

Coverage Code
AP    10000
AD    10000
GD    10000
GB    10000
AL     9983
AB     9397
PA     8030
PB     5089
RB     4553
NS     2297
PM     1864
AU     1778
EL     1360
GK     1137
AN     1063
RC     1019
PI      889
GO      842
PL      822
DC      766
GL      742
AM      729
EP      689
IK      688
OM      643
EO      642
PP      617
TE      590
BM      571
LL      562
IM       45
BL       41
CM       35
FB       23
OI       19
RF       17
BR       11
EB        9
LS        8
FF        8
RQ        8
EI        7
PC        6
Name: count, dtype: int64

# Cant do train test split with one value count of a class we need atleast 2
## Thats why did a small oversampling now performing oversampling on large scale

In [424]:
# split the dataset before augmenting to avoid augmented data in valid set
X= df_train_rus['Claim Description']
y=  df_train_rus['Coverage Code']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.1,stratify=y,random_state=33)

In [425]:
X_test.shape

(9760,)

#### RandomOverSampler

In [426]:
from collections import Counter
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTE

In [427]:
Counter(augmented_df['Coverage Code'])

Counter({'AD': 43070,
         'GB': 32193,
         'GD': 22399,
         'AP': 18894,
         'AL': 9983,
         'AB': 9397,
         'PA': 8030,
         'PB': 5089,
         'RB': 4553,
         'NS': 2297,
         'PM': 1864,
         'AU': 1778,
         'EL': 1360,
         'GK': 1137,
         'AN': 1063,
         'RC': 1019,
         'PI': 889,
         'GO': 842,
         'PL': 822,
         'DC': 766,
         'GL': 742,
         'AM': 729,
         'EP': 689,
         'IK': 688,
         'OM': 643,
         'EO': 642,
         'PP': 617,
         'TE': 590,
         'BM': 571,
         'LL': 562,
         'IM': 45,
         'BL': 41,
         'CM': 35,
         'FB': 23,
         'OI': 19,
         'RF': 17,
         'BR': 11,
         'EB': 9,
         'RQ': 8,
         'FF': 8,
         'LS': 8,
         'EI': 7,
         'PC': 6})

In [428]:
pd.DataFrame(X_train).astype(str)

                                        Claim Description
63085   customer reported marvin truck hit card reader...
144128             calcium leaks damaged clmnt is vehicle
77431   ['subject matter elizabeth kolar security brea...
6748    wife opened caesar salad ate lunch rd th march...
95620   customer entering store door caught back flip ...
...                                                   ...
145169  tree fell across one apartments causing roof d...
145626                          guest fell shower injured
17103   gfs backing hit corner building trailer bricks...
75866   iv leaving parking lot commercial account pick...
38687   iv pulling forward parking spot cut tight stri...

[87838 rows x 1 columns]

### Vectorization

In [429]:
type(X_train)

pandas.core.series.Series

In [430]:
print(type(X_train[0]))

if type(X_train[3]) != str:
    print(1)
else: print(0)

<class 'str'>
0

In [431]:
X_train

63085     customer reported marvin truck hit card reader...
144128               calcium leaks damaged clmnt is vehicle
77431     ['subject matter elizabeth kolar security brea...
6748      wife opened caesar salad ate lunch rd th march...
95620     customer entering store door caught back flip ...
                                ...
145169    tree fell across one apartments causing roof d...
145626                            guest fell shower injured
17103     gfs backing hit corner building trailer bricks...
75866     iv leaving parking lot commercial account pick...
38687     iv pulling forward parking spot cut tight stri...
Name: Claim Description, Length: 87838, dtype: object

In [432]:
X_train[0]

'iv traveling wbnd desert inn rd east pawnee dr vehicle directly front toyota camry ingrid ibarra hit brakes forcefully coming almost complete stop effort avoid collision iv swerved left unoccupied centeremergency lane unsuccessful struck cv directly front presumably caused thecv toyota enter lane causing chain reaction resulted ford focus'

In [446]:
df_train_rus[df_train_rus.index==21026]

                                       Claim Description Coverage Code
21026  small pd iv backing onto road iv bed flipped i...            AL

In [442]:
count = 0
l = []
for i in range(0,87838):
    if type(X_train.iloc[i]) != str:
        print(count,'-->',type(X_train.iloc[i]))
        l.append(count)
    count = count+1

71 --> <class 'list'>
2404 --> <class 'list'>
2658 --> <class 'list'>
3089 --> <class 'list'>
4313 --> <class 'list'>
4643 --> <class 'list'>
4950 --> <class 'list'>
4962 --> <class 'list'>
5835 --> <class 'list'>
5972 --> <class 'list'>
6117 --> <class 'list'>
6688 --> <class 'list'>
6966 --> <class 'list'>
7220 --> <class 'list'>
7249 --> <class 'list'>
7321 --> <class 'list'>
8048 --> <class 'list'>
8336 --> <class 'float'>
8351 --> <class 'list'>
9581 --> <class 'list'>
9861 --> <class 'list'>
10011 --> <class 'list'>
10327 --> <class 'list'>
10522 --> <class 'list'>
11925 --> <class 'list'>
12201 --> <class 'list'>
12593 --> <class 'list'>
13235 --> <class 'list'>
14839 --> <class 'list'>
15264 --> <class 'list'>
15432 --> <class 'list'>
16614 --> <class 'list'>
17033 --> <class 'list'>
18221 --> <class 'list'>
18693 --> <class 'list'>
19323 --> <class 'list'>
19481 --> <class 'list'>
19896 --> <class 'list'>
20413 --> <class 'list'>
20793 --> <class 'list'>
20834 --> <class 'list'>
21026 --> <class 'float'>
21441 --> <class 'list'>
23414 --> <class 'list'>
24359 --> <class 'list'>
24839 --> <class 'list'>
25461 --> <class 'list'>
25701 --> <class 'list'>
26372 --> <class 'list'>
26403 --> <class 'list'>
28931 --> <class 'list'>
28981 --> <class 'list'>
29508 --> <class 'list'>
29719 --> <class 'list'>
29817 --> <class 'list'>
30317 --> <class 'list'>
30839 --> <class 'list'>
31235 --> <class 'list'>
31589 --> <class 'list'>
33352 --> <class 'list'>
33525 --> <class 'list'>
34499 --> <class 'list'>
35816 --> <class 'list'>
36354 --> <class 'list'>
36764 --> <class 'list'>
37330 --> <class 'list'>
37595 --> <class 'list'>
37785 --> <class 'list'>
38895 --> <class 'list'>
39505 --> <class 'list'>
40353 --> <class 'list'>
40385 --> <class 'list'>
42032 --> <class 'list'>
42532 --> <class 'list'>
43425 --> <class 'list'>
43734 --> <class 'list'>
45229 --> <class 'list'>
45258 --> <class 'list'>
45370 --> <class 'list'>
45457 --> <class 'list'>
45646 --> <class 'list'>
45809 --> <class 'list'>
46465 --> <class 'list'>
46557 --> <class 'list'>
47574 --> <class 'list'>
48518 --> <class 'list'>
48772 --> <class 'list'>
49220 --> <class 'list'>
49672 --> <class 'list'>
50358 --> <class 'list'>
52155 --> <class 'list'>
52663 --> <class 'list'>
54145 --> <class 'list'>
54246 --> <class 'list'>
54494 --> <class 'list'>
54941 --> <class 'list'>
55842 --> <class 'list'>
56415 --> <class 'list'>
56471 --> <class 'list'>
56674 --> <class 'list'>
57068 --> <class 'list'>
59406 --> <class 'list'>
60020 --> <class 'list'>
60172 --> <class 'list'>
60461 --> <class 'list'>
60563 --> <class 'list'>
60892 --> <class 'list'>
61195 --> <class 'list'>
61606 --> <class 'list'>
62145 --> <class 'list'>
62167 --> <class 'list'>
62723 --> <class 'list'>
63184 --> <class 'list'>
64245 --> <class 'list'>
64568 --> <class 'list'>
65507 --> <class 'list'>
65646 --> <class 'list'>
66056 --> <class 'float'>
67896 --> <class 'list'>
68258 --> <class 'list'>
68276 --> <class 'list'>
68279 --> <class 'list'>
68991 --> <class 'list'>
69330 --> <class 'list'>
72848 --> <class 'list'>
73081 --> <class 'list'>
74248 --> <class 'list'>
74433 --> <class 'list'>
75228 --> <class 'list'>
75577 --> <class 'list'>
76359 --> <class 'list'>
77111 --> <class 'list'>
78231 --> <class 'list'>
78521 --> <class 'list'>
78533 --> <class 'list'>
79125 --> <class 'list'>
79484 --> <class 'list'>
80330 --> <class 'list'>
80779 --> <class 'list'>
81039 --> <class 'list'>
81106 --> <class 'list'>
81346 --> <class 'list'>
82639 --> <class 'list'>
82772 --> <class 'list'>
82897 --> <class 'list'>
83554 --> <class 'list'>
85539 --> <class 'list'>
86583 --> <class 'list'>
87281 --> <class 'list'>

In [444]:
print(len(l))
l

149

[71,
 2404,
 2658,
 3089,
 4313,
 4643,
 4950,
 4962,
 5835,
 5972,
 6117,
 6688,
 6966,
 7220,
 7249,
 7321,
 8048,
 8336,
 8351,
 9581,
 9861,
 10011,
 10327,
 10522,
 11925,
 12201,
 12593,
 13235,
 14839,
 15264,
 15432,
 16614,
 17033,
 18221,
 18693,
 19323,
 19481,
 19896,
 20413,
 20793,
 20834,
 21026,
 21441,
 23414,
 24359,
 24839,
 25461,
 25701,
 26372,
 26403,
 28931,
 28981,
 29508,
 29719,
 29817,
 30317,
 30839,
 31235,
 31589,
 33352,
 33525,
 34499,
 35816,
 36354,
 36764,
 37330,
 37595,
 37785,
 38895,
 39505,
 40353,
 40385,
 42032,
 42532,
 43425,
 43734,
 45229,
 45258,
 45370,
 45457,
 45646,
 45809,
 46465,
 46557,
 47574,
 48518,
 48772,
 49220,
 49672,
 50358,
 52155,
 52663,
 54145,
 54246,
 54494,
 54941,
 55842,
 56415,
 56471,
 56674,
 57068,
 59406,
 60020,
 60172,
 60461,
 60563,
 60892,
 61195,
 61606,
 62145,
 62167,
 62723,
 63184,
 64245,
 64568,
 65507,
 65646,
 66056,
 67896,
 68258,
 68276,
 68279,
 68991,
 69330,
 72848,
 73081,
 74248,
 74433,
 75228,
 75577,
 76359,
 77111,
 78231,
 78521,
 78533,
 79125,
 79484,
 80330,
 80779,
 81039,
 81106,
 81346,
 82639,
 82772,
 82897,
 83554,
 85539,
 86583,
 87281]

In [439]:
X_train

63085     customer reported marvin truck hit card reader...
144128               calcium leaks damaged clmnt is vehicle
77431     ['subject matter elizabeth kolar security brea...
6748      wife opened caesar salad ate lunch rd th march...
95620     customer entering store door caught back flip ...
                                ...
145169    tree fell across one apartments causing roof d...
145626                            guest fell shower injured
17103     gfs backing hit corner building trailer bricks...
75866     iv leaving parking lot commercial account pick...
38687     iv pulling forward parking spot cut tight stri...
Name: Claim Description, Length: 87838, dtype: object

In [388]:
# convert data into vector form

'''
count_vector_step_1 = CountVectorizer()

X_traintf = count_vector_step_1.fit_transform(X_train)
X_testtf = count_vector_step_1.transform(X_test)

'''

AttributeError: 'list' object has no attribute 'lower'

In [447]:
# convert data into vector form

count_vector_step_1 = CountVectorizer()

X_train = count_vector_step_1.fit_transform(X_train)
X_test = count_vector_step_1.transform(X_test)

# Initialize CountVectorizer
count_vector_step_1 = CountVectorizer()

# Fit and transform the training data
X_traintf = count_vector_step_1.fit_transform(X_train)

# Transform the test data
X_testtf = count_vector_step_1.transform(X_test)

In [448]:
X_train.shape

(87838,)

In [449]:
X_traintf.shape

(87838, 55074)

In [450]:
y_train

63085     AD
144128    GD
77431     GO
6748      PA
95620     GB
          ..
145169    RB
145626    PM
17103     AD
75866     AB
38687     AP
Name: Coverage Code, Length: 87838, dtype: object

In [451]:
augmented_df

                                        Claim Description Coverage Code
84769                     client driver reversed claimant            AD
146749  clmt alleges receiving coffee dt lid coffee po...            PA
128996  jackie claims pushing rack caught right ring f...            EL
72183   guest alledges pump failed stop flowing fuel c...            GD
120718  cart hit guests car due wind guests vehicle de...            GD
...                                                   ...           ...
147210  driver parked exiting vehicle saw utility vehi...            AD
61289   claimants town thanksgiving holiday received n...            PB
161522  small pd driver picking yard roll slid close b...            AL
28482   v door properly latched drove passed v road do...            AD
844     late report monday march ee stopped traffic co...            AD

[174155 rows x 2 columns]

In [452]:
df_train_rus['Coverage Code'].value_counts()

Coverage Code
AP    10000
AD    10000
GD    10000
GB     9999
AL     9983
AB     9397
PA     8030
PB     5089
RB     4553
NS     2297
PM     1864
AU     1778
EL     1360
GK     1137
AN     1063
RC     1019
PI      889
GO      842
PL      822
DC      766
GL      742
AM      729
EP      689
IK      688
OM      643
EO      642
PP      617
TE      590
BM      571
LL      562
IM       45
BL       41
CM       35
FB       23
OI       19
RF       17
BR       11
EB        9
LS        8
FF        8
RQ        8
EI        7
PC        6
Name: count, dtype: int64

In [469]:
df_train_rus['Coverage Code'].value_counts()[9:-13].index

Index(['NS', 'PM', 'AU', 'EL', 'GK', 'AN', 'RC', 'PI', 'GO', 'PL', 'DC', 'GL',
       'AM', 'EP', 'IK', 'OM', 'EO', 'PP', 'TE', 'BM', 'LL'],
      dtype='object', name='Coverage Code')

### Oversampling for balancing

In [454]:
pd.DataFrame(X_testtf)

                                                      0
0       (0, 10682)\t1\n  (0, 12664)\t1\n  (0, 24209)...
1       (0, 362)\t1\n  (0, 8155)\t1\n  (0, 8213)\t1\...
2       (0, 5074)\t1\n  (0, 9736)\t1\n  (0, 9819)\t1...
3       (0, 1394)\t1\n  (0, 4048)\t1\n  (0, 4361)\t1...
4       (0, 10434)\t1\n  (0, 14449)\t1\n  (0, 22582)...
...                                                 ...
9755    (0, 6776)\t1\n  (0, 10232)\t1\n  (0, 37674)\...
9756    (0, 2772)\t1\n  (0, 2898)\t1\n  (0, 4873)\t1...
9757    (0, 2256)\t1\n  (0, 2439)\t1\n  (0, 3889)\t1...
9758    (0, 17357)\t1\n  (0, 18065)\t1\n  (0, 18326)...
9759    (0, 5915)\t1\n  (0, 16703)\t1\n  (0, 20560)\...

[9760 rows x 1 columns]

In [455]:
y_train

63085     AD
144128    GD
77431     GO
6748      PA
95620     GB
          ..
145169    RB
145626    PM
17103     AD
75866     AB
38687     AP
Name: Coverage Code, Length: 87838, dtype: object

In [ ]:
#df_train_rus['Coverage Code']  = y_train

In [470]:
# Check the class distribution before oversampling
print("Before SMOTE:")
print(pd.Series(y_train).value_counts())
dic = {'NS':3000, 'PM':3000, 'AU':3000, 'EL':3000, 'GK':3000, 'AN':3000, 'RC':3000,
       'PI':3000, 'GO':3000, 'PL':3000, 'DC':3000, 'GL':3000,
       'AM':3000, 'EP':3000, 'IK':3000, 'OM':3000, 'EO':3000, 'PP':3000, 'TE':3000, 'BM':3000, 'LL':3000,
       'IM':500, 'BL':500, 'CM':500, 'FB':500, 'OI':500, 'RF':500, 
       'BR':500, 'EB':500, 'LS':500, 'FF':500, 'RQ':500, 'EI':500,'PC':500}
# Perform SMOTE oversampling on the training set
smote = SMOTE(sampling_strategy= dic, random_state=42,k_neighbors=4)

X_train_resampled, y_train_resampled = smote.fit_resample(X_traintf,y_train)

# Check the class distribution after oversampling
print("\nAfter SMOTE:")
print(pd.Series(y_train_resampled).value_counts())

Before SMOTE:
Coverage Code
AD    9000
AP    9000
GD    9000
GB    8999
AL    8985
AB    8457
PA    7227
PB    4580
RB    4098
NS    2067
PM    1678
AU    1600
EL    1224
GK    1023
AN     957
RC     917
PI     800
GO     758
PL     740
DC     689
GL     668
AM     656
EP     620
IK     619
OM     579
EO     578
PP     555
TE     531
BM     514
LL     506
IM      41
BL      37
CM      32
FB      21
OI      17
RF      15
BR      10
EB       8
LS       7
RQ       7
FF       7
EI       6
PC       5
Name: count, dtype: int64

After SMOTE:
Coverage Code
AD    9000
AP    9000
GD    9000
GB    8999
AL    8985
AB    8457
PA    7227
PB    4580
RB    4098
PL    3000
BM    3000
NS    3000
PP    3000
RC    3000
AN    3000
PI    3000
AM    3000
EO    3000
DC    3000
GL    3000
TE    3000
EL    3000
IK    3000
PM    3000
AU    3000
LL    3000
EP    3000
GK    3000
GO    3000
OM    3000
RQ     500
PC     500
BR     500
OI     500
EB     500
FF     500
CM     500
RF     500
FB     500
LS     500
IM     500
BL     500
EI     500
Name: count, dtype: int64

In [480]:
type(X_train_resampled)

scipy.sparse._csr.csr_matrix

In [472]:
X_train_resampled.shape

(138846, 55074)

In [473]:
y_train_resampled.shape

(138846,)

In [482]:


# train
naive_bayes = MultinomialNB()
naive_bayes.fit(X_train_resampled, y_train_resampled)
print("Model trained")

# save model
path = "results/nb.pickle"
pickle.dump(naive_bayes, open(path, "wb"))
print("Model saved to", path)

# predict
y_pred = naive_bayes.predict(X_testtf)

accuracy = accuracy_score(y_test, y_pred)
print('Accuracy for naive bayes :',np.round(accuracy,2))

print("*"*100)

target_names = naive_bayes.classes_
print(classification_report(y_test, y_pred, target_names=target_names))
print('*'*100)

Model trained
Model saved to results/nb.pickle
Accuracy for naive bayes : 0.68
****************************************************************************************************
              precision    recall  f1-score   support

          AB       0.54      0.58      0.56       940
          AD       0.49      0.43      0.46      1000
          AL       0.80      0.96      0.87       998
          AM       0.50      0.38      0.43        73
          AN       0.81      0.21      0.33       106
          AP       0.50      0.57      0.53      1000
          AU       0.63      0.58      0.60       178
          BL       0.00      0.00      0.00         4
          BM       0.72      0.86      0.78        57
          BR       0.00      0.00      0.00         1
          CM       0.00      0.00      0.00         3
          DC       0.86      0.66      0.75        77
          EB       0.00      0.00      0.00         1
          EI       1.00      1.00      1.00         1
          EL       0.84      0.46      0.60       136
          EO       0.68      0.78      0.73        64
          EP       0.67      0.90      0.77        69
          FB       0.00      0.00      0.00         2
          FF       0.00      0.00      0.00         1
          GB       0.70      0.85      0.77      1000
          GD       0.65      0.67      0.66      1000
          GK       0.78      0.50      0.61       114
          GL       0.84      0.62      0.71        74
          GO       0.78      0.61      0.68        84
          IK       0.75      1.00      0.86        69
          IM       0.00      0.00      0.00         4
          LL       0.85      0.91      0.88        56
          LS       0.00      0.00      0.00         1
          NS       0.93      0.69      0.79       230
          OI       1.00      0.50      0.67         2
          OM       0.77      0.80      0.78        64
          PA       0.88      0.93      0.91       803
          PB       0.81      0.77      0.79       509
          PC       1.00      1.00      1.00         1
          PI       0.87      0.60      0.71        89
          PL       0.90      0.78      0.84        82
          PM       0.82      0.29      0.43       186
          PP       0.73      0.95      0.83        62
          RB       0.75      0.54      0.63       455
          RC       0.73      0.35      0.48       102
          RF       0.00      0.00      0.00         2
          RQ       1.00      1.00      1.00         1
          TE       0.68      0.88      0.76        59

    accuracy                           0.68      9760
   macro avg       0.61      0.55      0.56      9760
weighted avg       0.69      0.68      0.67      9760

****************************************************************************************************

In [483]:
from sklearn.linear_model import LogisticRegression

lr_basemodel =LogisticRegression()

lr_basemodel.fit(X_train_resampled, y_train_resampled)
print("Model trained")

# save model
path = "results/logreg.pickle"
pickle.dump(lr_basemodel, open(path, "wb"))
print("Model saved to", path)

# predict
y_pred = lr_basemodel.predict(X_testtf)

accuracy = accuracy_score(y_test, y_pred)
print('Accuracy for logistic regression :',np.round(accuracy,2))

print("*"*100)

target_names = lr_basemodel.classes_
print(classification_report(y_test, y_pred, target_names=target_names))
print('*'*100)

Model trained
Model saved to results/logreg.pickle
Accuracy for logistic regression : 0.72
****************************************************************************************************
              precision    recall  f1-score   support

          AB       0.59      0.60      0.59       940
          AD       0.57      0.40      0.47      1000
          AL       0.95      0.95      0.95       998
          AM       0.42      0.62      0.50        73
          AN       0.37      0.50      0.43       106
          AP       0.57      0.62      0.59      1000
          AU       0.65      0.67      0.66       178
          BL       0.14      0.25      0.18         4
          BM       0.77      0.98      0.86        57
          BR       0.17      1.00      0.29         1
          CM       0.00      0.00      0.00         3
          DC       0.74      0.87      0.80        77
          EB       0.00      0.00      0.00         1
          EI       1.00      1.00      1.00         1
          EL       0.64      0.77      0.70       136
          EO       0.83      0.94      0.88        64
          EP       0.87      0.88      0.88        69
          FB       0.07      0.50      0.12         2
          FF       0.25      1.00      0.40         1
          GB       0.76      0.76      0.76      1000
          GD       0.73      0.69      0.71      1000
          GK       0.66      0.73      0.69       114
          GL       0.72      0.82      0.77        74
          GO       0.67      0.76      0.71        84
          IK       0.80      0.94      0.87        69
          IM       0.25      0.25      0.25         4
          LL       0.96      0.98      0.97        56
          LS       0.50      1.00      0.67         1
          NS       0.80      0.86      0.83       230
          OI       0.11      0.50      0.18         2
          OM       0.78      0.95      0.86        64
          PA       0.91      0.91      0.91       803
          PB       0.81      0.80      0.81       509
          PC       1.00      1.00      1.00         1
          PI       0.72      0.71      0.71        89
          PL       0.84      0.95      0.89        82
          PM       0.61      0.60      0.60       186
          PP       0.91      0.98      0.95        62
          RB       0.71      0.64      0.67       455
          RC       0.49      0.62      0.55       102
          RF       0.17      0.50      0.25         2
          RQ       0.50      1.00      0.67         1
          TE       0.85      0.97      0.90        59

    accuracy                           0.72      9760
   macro avg       0.60      0.73      0.64      9760
weighted avg       0.72      0.72      0.72      9760

****************************************************************************************************

In [485]:
## Random forest

from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier(max_depth=110).fit(X_train_resampled,y_train_resampled)
y_pred=classifier.predict(X_testtf)
print(classification_report(y_test,y_pred))

print("*"*100)
# save model
path = "results/randfrst.pickle"
pickle.dump(classifier, open(path, "wb"))
print("Model saved to", path)

              precision    recall  f1-score   support

          AB       0.60      0.58      0.59       940
          AD       0.52      0.47      0.50      1000
          AL       0.89      0.97      0.93       998
          AM       0.88      0.81      0.84        73
          AN       0.84      0.63      0.72       106
          AP       0.53      0.58      0.55      1000
          AU       0.78      0.70      0.74       178
          BL       0.67      0.50      0.57         4
          BM       0.88      1.00      0.93        57
          BR       0.50      1.00      0.67         1
          CM       0.00      0.00      0.00         3
          DC       0.83      0.95      0.88        77
          EB       0.00      0.00      0.00         1
          EI       1.00      1.00      1.00         1
          EL       0.84      0.62      0.72       136
          EO       0.89      0.98      0.93        64
          EP       0.87      0.99      0.93        69
          FB       0.07      0.50      0.12         2
          FF       1.00      1.00      1.00         1
          GB       0.71      0.81      0.76      1000
          GD       0.62      0.69      0.65      1000
          GK       0.81      0.80      0.80       114
          GL       0.85      0.85      0.85        74
          GO       0.89      0.89      0.89        84
          IK       0.59      1.00      0.74        69
          IM       0.00      0.00      0.00         4
          LL       0.98      1.00      0.99        56
          LS       1.00      1.00      1.00         1
          NS       0.86      0.68      0.76       230
          OI       0.00      0.00      0.00         2
          OM       0.91      1.00      0.96        64
          PA       0.84      0.93      0.88       803
          PB       0.82      0.66      0.73       509
          PC       1.00      1.00      1.00         1
          PI       0.89      0.81      0.85        89
          PL       0.83      0.93      0.87        82
          PM       0.77      0.47      0.59       186
          PP       0.95      1.00      0.98        62
          RB       0.77      0.47      0.58       455
          RC       0.74      0.69      0.71       102
          RF       0.50      0.50      0.50         2
          RQ       1.00      1.00      1.00         1
          TE       0.93      0.90      0.91        59

    accuracy                           0.71      9760
   macro avg       0.72      0.73      0.71      9760
weighted avg       0.71      0.71      0.71      9760

****************************************************************************************************
Model saved to results/randfrst.pickle

## class_label 2 : Accident Source

In [487]:
# find unique classes

print('Number of classes in Coverage code :',dataset['Accident Source'].nunique())

Number of classes in Coverage code : 312

In [488]:
dataset['Accident Source'].value_counts()

Accident Source
Alleged Negligent Act            20254
Sideswipe or lane change         15414
Struck animal or object           7720
Struck vehicle in rear            7401
Not Otherwise Classified          7377
                                 ...
Multiple Vehicle Collision          14
Machine - point of operation        14
VEHICLE                             13
Defective Pipework                  11
Boiler, pressure vessel, etc.       10
Name: count, Length: 312, dtype: int64

## Observation :

- There are 312 classes in Coverage code.
- There is class imabalnce observed.
- While few classes having very few data points.

# Dont have much time left for case study and steps are similar, so directly training model for Accident Source

In [496]:
final_data2 = pre_processing(dataset)

In [497]:
final_data2

,Claim Description,Coverage Code,Accident Source
0,iv making left turn green arrow pedestrian ran...,AN,"Struck pedestrian, bicycle"
1,claimant alleges suffered injuries elevator,GB,Elevator/Escalator
2,iv passenger sustained injuries ov iv collided...,AB,Sideswipe or lane change
3,claimant alleges burned unknown degree hot tea...,PA,Food Product
4,iv merging construction zone rear ended theov ...,AD,Struck vehicle in rear
...,...,...,...
191683,package car leaked oil concrete driveway,AD,Oil or grease
191685,wood fell hit guests legs,GB,Alleged lack of security
191686,female fell platform bus reg bk ywl,AB,Not Otherwise Classified
191687,iwas driving downhill customer yard wet slippe...,AD,Sideswipe or lane change
191688,donna george walking register fell injuries ba...,PM,Alleged Negligent Act

In [498]:
# create features and class label

X = final_data2['Claim Description']

y = final_data2['Accident Source']

# split the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, stratify=y)

In [499]:
# convert data into vector form

count_vectorizer_2 = CountVectorizer()

X_train = count_vectorizer_2.fit_transform(X_train)
X_test = count_vectorizer_2.transform(X_test)

In [500]:
# train
naive_bayes = MultinomialNB()
naive_bayes.fit(X_train, y_train)
print("Model trained")

# save model
path = "results/nb2.pickle"
pickle.dump(naive_bayes, open(path, "wb"))
print("Model saved to", path)

# predict
y_pred = naive_bayes.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print('Accuracy for naive bayes :',np.round(accuracy,2))

print("*"*100)

target_names = naive_bayes.classes_
print(classification_report(y_test, y_pred, target_names=target_names))
print('*'*100)

Model trained
Model saved to results/nb2.pickle
Accuracy for naive bayes : 0.36
****************************************************************************************************
                                            precision    recall  f1-score   support

    Accidental disposal of property/object       0.00      0.00      0.00        98
                   Administrative Decision       0.00      0.00      0.00        23
                                  Aircraft       0.00      0.00      0.00         3
                    Alleged Discrimination       0.00      0.00      0.00        20
                      Alleged False Arrest       0.00      0.00      0.00         8
                          Alleged Incident       0.00      0.00      0.00        21
      Alleged Misconduct - Personal Injury       0.00      0.00      0.00        22
                     Alleged Negligent Act       0.27      0.82      0.40      4051
         Alleged Violation of Civil Rights       0.00      0.00      0.00         6
Alleged Violation of Civil Rights/Discrim.       0.00      0.00      0.00         8
                   Alleged concrete defect       0.00      0.00      0.00        23
         Alleged contamination or spoilage       0.52      0.59      0.55       396
      Alleged damage to property of others       0.81      0.18      0.29       383
               Alleged design flaw, defect       0.77      0.18      0.29       330
         Alleged foreign object in product       0.64      0.75      0.69       479
              Alleged improper formulation       0.00      0.00      0.00        14
  Alleged improper maint.,park, playground       0.00      0.00      0.00         5
  Alleged improper maintenance - municipal       0.00      0.00      0.00        68
      Alleged improper maintenance - other       0.34      0.22      0.26       958
    Alleged improper maintenance - schools       0.00      0.00      0.00        24
 Alleged inadequate warnings, labels, etc.       0.00      0.00      0.00        15
          Alleged installation by customer       0.00      0.00      0.00         7
   Alleged installation by vendor/retailer       0.00      0.00      0.00        35
                  Alleged lack of security       0.00      0.00      0.00        41
   Alleged lack of supervision - municipal       0.00      0.00      0.00         5
       Alleged lack of supervision - other       0.00      0.00      0.00        44
     Alleged lack of supervision - schools       0.75      0.11      0.19        83
   Alleged lack of supv., park, playground       0.00      0.00      0.00        11
      Alleged mechanical defect of failure       0.00      0.00      0.00        43
   Alleged product altered by manufacturer       0.00      0.00      0.00        13
Alleged product altered by vendor/retailer       0.00      0.00      0.00        12
                 Alleged product loss, NOC       0.97      0.33      0.49       115
   Alleged product misused for application       0.00      0.00      0.00         4
Alleged service or maint.- vendor/retailer       0.50      0.01      0.02       246
Alleged service or maintenance by customer       0.00      0.00      0.00        22
                         Allergic Reaction       0.83      0.12      0.21        85
                            Animal, Insect       0.90      0.13      0.22       142
                 Animal, Insect - Property       0.00      0.00      0.00        20
                     Animal, Insect - W.C.       0.00      0.00      0.00        15
                                  Asbestos       0.00      0.00      0.00         4
                                   Assault       0.00      0.00      0.00        96
                      Assault and/or abuse       1.00      0.04      0.07        57
               Assault during apprehension       0.00      0.00      0.00        30
                          Back up of sewer       0.00      0.00      0.00         6
             Backed into vehicle or object       0.47      0.38      0.42      1229
                     Backup Sewer, Seepage       0.00      0.00      0.00        15
                                  Bathroom       0.00      0.00      0.00        39
                                   Bicycle       0.00      0.00      0.00         3
             Boiler, pressure vessel, etc.       0.00      0.00      0.00         2
                                Box Cutter       0.00      0.00      0.00         4
                    Box, barrel, container       0.00      0.00      0.00        40
             Breach of Data Protection Act       0.00      0.00      0.00         5
                         Breaking up fight       0.00      0.00      0.00         4
                    Building services, NOC       0.00      0.00      0.00        31
       Burglary, Robbery, Theft - Property       0.00      0.00      0.00        54
                  Burglary, robbery, theft       0.00      0.00      0.00       188
         Burglary, theft - no forced entry       0.00      0.00      0.00        19
                                  Car Wash       1.00      0.01      0.02       101
                                  Car stop       0.00      0.00      0.00        32
                                      Cart       0.75      0.32      0.45       442
                                   Cave-in       0.00      0.00      0.00         7
                          Ceiling Collapse       0.00      0.00      0.00         3
                     Change in Temperature       0.00      0.00      0.00         5
                      Chemicals - Property       0.00      0.00      0.00         7
                     Circumstances Unknown       0.00      0.00      0.00         8
                  Clothing, apparel, shoes       0.00      0.00      0.00        20
                                  Collapse       0.00      0.00      0.00        14
                                 Collision       0.00      0.00      0.00        38
                 Collision on a Roundabout       1.00      0.03      0.06        35
                Collision with Oncoming TP       0.00      0.00      0.00         9
                 Container - Packaging Etc       0.00      0.00      0.00         4
    Contract Hauler Accident/Temp Employee       0.00      0.00      0.00         3
                           DEFECTIVE FLOOR       0.00      0.00      0.00         3
                        DEFECTIVE PAVEMENT       0.00      0.00      0.00        59
                         DEFECTIVE PRODUCT       0.00      0.00      0.00        36
                     DEFECTIVE WORKMANSHIP       0.00      0.00      0.00         7
                          Damage - vehicle       0.00      0.00      0.00         7
                     Damage to landscaping       0.76      0.27      0.40       324
                        Defective Pipework       0.00      0.00      0.00         2
                                   Display       0.00      0.00      0.00        56
                         Display Furniture       0.00      0.00      0.00        10
                               Door - Dock       0.00      0.00      0.00         9
                             Door - Office       0.00      0.00      0.00        20
                           Door/Door Catch       0.00      0.00      0.00        11
                                  Drainage       0.00      0.00      0.00         4
                   Driven over TP Property       0.00      0.00      0.00         5
             EXACT CAUSE OF DAMAGE UNKNOWN       0.00      0.00      0.00         4
                                Electrical       0.00      0.00      0.00        10
                          Electrical Fires       0.00      0.00      0.00         5
Elevator,escalator,manlift,moving sidewalk       0.00      0.00      0.00        41
                        Elevator/Escalator       0.00      0.00      0.00        26
       Emissions of chemicals and/or gases       0.00      0.00      0.00         7
                                  Employee       0.00      0.00      0.00         4
          Entering or leaving traffic flow       0.00      0.00      0.00       112
                     Equipment Malfunction       0.00      0.00      0.00        69
                Excavation, trench, tunnel       0.00      0.00      0.00        20
                       Extreme temperature       0.00      0.00      0.00        30
  Fall - hole/drain cover - defect/missing       0.00      0.00      0.00         3
                        Fall - other falls       0.00      0.00      0.00         6
                            Falling Object       0.00      0.00      0.00       102
                               Fire - Auto       1.00      0.01      0.02        84
                           Fire - Property       0.00      0.00      0.00        45
                               Fire - W.C.       0.00      0.00      0.00         5
                                     Flood       0.00      0.00      0.00        17
                              Food Product       0.49      0.19      0.27       340
                     Foreign object thrown       0.00      0.00      0.00        45
                        Forklift accessory       0.00      0.00      0.00         6
  Freezing of Plumbing, Heating, AC System       0.51      0.31      0.39       103
                         Freight > 60 lbs.       0.00      0.00      0.00         6
                            Frost/Ice/Snow       0.00      0.00      0.00         3
                                      Fuel       0.00      0.00      0.00         7
                        Furniture, fixture       0.00      0.00      0.00        77
                            Gasoline spill       0.00      0.00      0.00        46
                               Gate, fence       0.00      0.00      0.00        63
             Glass wall or door with decal       0.00      0.00      0.00         6
          Glass wall or door without decal       0.00      0.00      0.00         6
                       Glass, ceramic, NOC       0.67      0.04      0.08        49
                    Grease Fires - Kitchen       0.00      0.00      0.00         4
                              Ground/floor       0.00      0.00      0.00       409
                                      HOLE       0.00      0.00      0.00         9
                                      Hail       0.00      0.00      0.00        45
                    Hand tool, not powered       0.00      0.00      0.00         6
                        Hand tool, powered       0.00      0.00      0.00         4
                         Head-on collision       0.00      0.00      0.00        85
                             Health Hazard       1.00      0.09      0.16        45
                    Heating equipment, NOC       0.00      0.00      0.00         5
                      Hit Inanimate Object       0.00      0.00      0.00         6
               Hit Kerb/Island/Verge/Hedge       0.00      0.00      0.00         9
                        Hit Object in Road       0.00      0.00      0.00         7
                Hit Post/Barrier/Gate/Pole       0.00      0.00      0.00        40
                   Hit Third Party In Rear       0.00      0.00      0.00        28
                           Hit Tree Branch       0.00      0.00      0.00        10
                            Hit Wall/Fence       0.00      0.00      0.00        21
            Hit Whilst Parked - Stationary       0.00      0.00      0.00        16
                Hit in Rear by Third Party       0.00      0.00      0.00        24
                                      Hose       0.00      0.00      0.00         4
                         Human Action, NOC       0.55      0.21      0.30       400
                                 Hurricane       0.00      0.00      0.00         7
                                       Ice       0.00      0.00      0.00        10
               Ice, Snow, Sleet - Property       0.00      0.00      0.00        27
                   Ice, Snow, Sleet - W.C.       0.00      0.00      0.00        24
                                 Ice/water       0.00      0.00      0.00       275
                                   Illness       1.00      0.11      0.20        18
 Infectious, parasitic agents, NOC - Liab.       0.00      0.00      0.00         3
  Injured while entering/alighting vehicle       0.50      0.01      0.03        73
                     Insured Changed Lanes       0.00      0.00      0.00        22
           Insured Emerged from Minor Road       0.00      0.00      0.00         9
                     Insured Hit Parked TP       0.00      0.00      0.00        44
                      Insured Lost Control       0.00      0.00      0.00         3
                  Insured Reversing Hit TP       0.00      0.00      0.00        37
            Insured Turned Against TP Path       0.00      0.00      0.00         4
     Insured vehicle causes other accident       0.00      0.00      0.00        21
                     Intersection accident       0.60      0.19      0.29       903
                       Invasion of Privacy       0.00      0.00      0.00         4
    Jacknife, rollover, overturned vehicle       0.00      0.00      0.00        89
                                      KERB       0.00      0.00      0.00         8
                                     Kiosk       0.00      0.00      0.00         6
                                     Knife       0.00      0.00      0.00         7
                         Ladder (portable)       0.00      0.00      0.00        11
        Leak/Flood - Defective Maintenance       0.00      0.00      0.00         4
          Leak/Flood - Defective Materials       0.00      0.00      0.00         3
        Leak/Flood - Defective Workmanship       0.00      0.00      0.00         3
               Libel, slander - defamation       0.00      0.00      0.00         4
                                 Lightning       0.00      0.00      0.00        15
                       Liquid/Grease Spill       0.00      0.00      0.00         6
                        Liquids - Property       0.00      0.00      0.00        18
                            Liquids - W.C.       0.00      0.00      0.00        12
        Loss of Use, Business Interruption       0.00      0.00      0.00         8
              Machine - point of operation       0.00      0.00      0.00         3
                              Machine, NOC       0.00      0.00      0.00        13
                        Malicious Mischief       0.00      0.00      0.00        20
                             Manhole/Cover       0.00      0.00      0.00        11
                           Manual Handling       0.00      0.00      0.00        10
                               Merchandise       0.00      0.00      0.00        85
                     Merchandises on Floor       0.00      0.00      0.00        50
                           Metal item, NOC       0.00      0.00      0.00        41
                 Misc - Object Hit Vehicle       0.00      0.00      0.00         4
                          Misuse of weapon       0.00      0.00      0.00        16
                               Mold/mildew       0.00      0.00      0.00        41
                Multiple Vehicle Collision       0.00      0.00      0.00         3
             Natural Hazard-Non Vegetation       0.00      0.00      0.00         3
                 Natural Hazard-Vegetation       0.00      0.00      0.00         3
                                     Noise       0.00      0.00      0.00         6
    Non Liability Cases - Premises Medical       0.85      0.23      0.36       102
                      Non-contact accident       0.00      0.00      0.00        85
                  Not Otherwise Classified       0.28      0.13      0.18      1476
        Object fall - loading or unloading       0.00      0.00      0.00        46
                           Object on floor       0.00      0.00      0.00       139
            Office or Restaurant Furniture       0.00      0.00      0.00         4
                             Oil or grease       1.00      0.03      0.05        73
                                     Other       0.00      0.00      0.00         3
                     Other - comprehensive       0.29      0.01      0.01       305
                Other vehicle turning left       0.00      0.00      0.00        70
               Other vehicle turning right       0.00      0.00      0.00        35
                   Our vehicle backed into       0.00      0.00      0.00       199
    Our vehicle struck by object or animal       0.00      0.00      0.00       146
     Our vehicle struck by runaway vehicle       0.00      0.00      0.00        52
                Our vehicle struck in rear       0.70      0.12      0.21       780
           Our vehicle struck while parked       0.00      0.00      0.00       278
                  Our vehicle turning left       0.00      0.00      0.00       195
                 Our vehicle turning right       0.00      0.00      0.00       102
                                    Pallet       0.00      0.00      0.00        38
                      Pallet Jack (manual)       0.00      0.00      0.00        22
                       Pallet Jack (power)       0.00      0.00      0.00         8
                             Pallets/Skids       0.00      0.00      0.00         8
                     Parking lot, driveway       0.50      0.00      0.01       279
                   Particle/Foreign Object       0.00      0.00      0.00        34
                            Patient, Child       0.00      0.00      0.00        11
                                Pharmacist       0.00      0.00      0.00         6
                         Plastic item, NOC       0.00      0.00      0.00        13
 Plumbing,Heating,AC,Discharge,Overflowing       0.46      0.40      0.43       201
                                   Pothole       0.00      0.00      0.00        63
                           Property Damage       0.00      0.00      0.00        15
                                      Rain       0.00      0.00      0.00        49
                           Ran off roadway       0.00      0.00      0.00        76
                     Reversing/Manoeuvring       0.00      0.00      0.00         7
                   Road Conditions/Weather       0.00      0.00      0.00         4
                   Road debris/road hazard       0.61      0.46      0.53       290
                           Runaway vehicle       0.00      0.00      0.00        25
                             Scrap, debris       0.00      0.00      0.00        24
                             Securing load       0.00      0.00      0.00         9
                                     Sewer       0.00      0.00      0.00         6
                              Sharp Object       0.00      0.00      0.00         4
          Sharp objects (edges, splinters)       0.00      0.00      0.00        14
Sharps(Needles,Razors,Scissors,Knife,etc.)       0.00      0.00      0.00        29
                  Sideswipe or lane change       0.34      0.85      0.49      3083
                                 Sink Hole       0.00      0.00      0.00         4
                              Slip - other       0.00      0.00      0.00         7
       Slip, Trip, Fall-Entering/Alighting       0.00      0.00      0.00        18
                         Smoke - Liability       0.00      0.00      0.00         4
        Soap, detergent, cleaning compound       0.00      0.00      0.00         4
                                Speed bump       0.00      0.00      0.00         3
              Sprinkler Leakage - Freezing       0.00      0.00      0.00        18
  Sprinkler Leakage - Pipe or Head Failure       0.00      0.00      0.00        48

#### Using bert for embedding :

In [502]:
from sentence_transformers import SentenceTransformer
sentences = ["This is an example sentence", "Each sentence is converted"]

model = SentenceTransformer('sentence-transformers/all-MiniLM-L6-v2')

In [504]:
X

array(['iv traveling wbnd desert inn rd east pawnee dr vehicle directly front toyota camry ingrid ibarra hit brakes forcefully coming almost complete stop effort avoid collision iv swerved left unoccupied centeremergency lane unsuccessful struck cv directly front presumably caused thecv toyota enter lane causing chain reaction resulted ford focus',
       'claimant slipped stairs causing bodily injury',
       'customer driving parking lot cart came cart coral struck vehicle',
       ..., 'iv hit parked unknown party',
       'stray bullet fired unknown persons struck hvac unit',
       'claimant alleges vehicle damaged pothole parking space'],
      dtype=object)

In [503]:
X = final_data['Claim Description'].values
y = final_data['Accident Source']

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 3791, in get_loc
    >>> unique_index = pd.Index(list('abc'))
  File "index.pyx", line 152, in pandas._libs.index.IndexEngine.get_loc
  File "index.pyx", line 181, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 7080, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 7088, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: 'Accident Source'

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py", line 3550, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Admin\AppData\Local\Temp\ipykernel_10532\2884066349.py", line 2, in <module>
    y = final_data['Accident Source']
  File "C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\frame.py", line 3893, in __getitem__
    )
  File "C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 3798, in get_loc
KeyError: 'Accident Source'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\IPython\core\ultratb.py", line 1192, in structured_traceback
    formatted_exceptions += self.format_exception_as_a_whole(etype, evalue, etb, lines_of_context,
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\stack_data\core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\stack_data\core.py", line 660, in executing_piece
    return only(
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\executing\executing.py", line 116, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [505]:
X_bert_enc = model.encode(X, batch_size=500, show_progress_bar=True,)
print(X_bert_enc.shape)

Batches:   0%|          | 0/348 [00:00<?, ?it/s]

(173990, 384)

In [509]:
pickle.dump(count_vector_step_1, open("./vectorizer/count_vector_step_1.pickel","wb"))
pickle.dump(count_vectorizer_2, open("./vectorizer/count_vector_step_2.pickel","wb"))

# pickle.dump(count_vector_as_step_1, open("./vectorizer/count_vector_as_step_1.pickel","wb"))

### outputs needed 

- randfrst.pickle ---  COverage Code predictions
- nb2.pickle        ---  Accident Source prediction
- |
- |
- X= df_train_rus['Claim Description']
- y=  df_train_rus['Coverage Code']
- X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.1,stratify=y,random_state=33)
- |
- |
- count_vector_step_1
- count_vectorizer_2
-  X_testtf = count_vector_step_1.transform(X_test)

NameError: name 'scikit' is not defined